body{
  text-align: center;
  border: 5px solid white;
  width: 542px;
  border-radius: 70px 70px;
  background-color: #333333;
}

h2 {
  font: 15px Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
}
h1 {
  font: 60px Calibri, sans-serif;
  font-weight: bold; 
  color: #4a90e2;
}
